GnuPGInterface==0.3.2
Pillow==2.2.1
apt-xapian-index==0.44
argparse==1.2.1
chardet==2.0.1
## FIXME: could not find svn URL in dependency_links for this package:
distribute==0.6.24dev-r0
django-pylibmc==0.5.0
lxml==2.3.2
psycopg2==2.4.5
pycurl==7.19.0
python-apt==0.8.3ubuntu7.1
python-debian==0.1.21ubuntu1
python-memcached==1.53
stevedore==0.12
unattended-upgrades==0.1
virtualenv==1.10.1
virtualenv-clone==0.2.4
virtualenvwrapper==4.1.1
wsgiref==0.1.2
