body {
    padding-top: 70px;
}

h1 {
    margin-bottom: 20px;
}
.project-title {
    font-size: 24px;
    margin-top: 40px;
}
.realtime-pannel {
    margin-top: 60px;
}

.label-category-code {
    float: right;
    padding-bottom: 0.1em;
}

.label-active-project {
    float: right;
    font-size: 12px;
    font-weight: normal;
    margin-top: 12px;
}

.sensor-current {
    min-width: 595px;
}
.sensor-current .panel-body {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
}

.sensor-current .table {
    margin-bottom: 0;
}

.sensor-current th {
    color: #555;
}
.data-field {
    display: block;
    float: left;
}
.data-primary-field {
    width: 150px;
    height: 74px;
}
.data-other-field {
    width: calc(100% - 150px);
    border-left: 1px solid #DDD;
    
}
.data-primary-field-label {
    font-size: 14px;
    font-weight: bold;
    color: #555;
}
.data-primary-field-value {
    font-weight: bold;
    font-size: 23px;
}

ul.select-unit {
    width: 180px;
}