body {
    padding-top: 70px;
}

h1 {
    margin-bottom: 20px;
}
.project-title {
    font-size: 24px;
    margin-top: 40px;
}
.realtime-pannel {
    margin-top: 60px;
}

.label-category-code {
    float: right;
    padding-bottom: 0.1em;
}

.label-active-project {
    float: right;
    font-size: 12px;
    font-weight: normal;
    margin-top: 12px;
}

.sensor-current {
    /*min-width: 595px;*/
}
.sensor-current .panel-body {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
}

.sensor-current .table {
    margin-bottom: 0;
}

.sensor-current th {
    color: #555;
}
.data-field {
    display: block;
    float: left;
}
.data-primary-field {
    width: 150px;
    height: 74px;
}
.data-other-field {
    width: calc(100% - 150px);
    border-left: 1px solid #DDD;
    
}
.data-primary-field-label {
    font-size: 14px;
    font-weight: bold;
    color: #555;
}
.data-primary-field-value {
    font-weight: bold;
    font-size: 23px;
}

ul.select-unit {
    width: 180px;
}

.box-underline {
    border-bottom: 1px solid #ddd;
}





/* Feel free to modify all of these styles */

@media all and (max-width:500px) {
    .data-other-field {
        width: 100%;
        clear: both;
        border-left: 0px none;
        padding-right: 15px;
        box-sizing: border-box;        
        
    }
    .data-primary-field {
        margin-left: 15px;
        margin-top: 15px;
    }
    .data-other-field .webks-responsive-table {
        border-top: 1px solid #DDD;
    }
    

}

.data-other-field .webks-responsive-table dl {
    border-bottom: 0px none;
}

/* Table */
table.respond{ width:100%; }

.webks-responsive-table .row {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 20px;
}
.webks-responsive-table .switchBtn {
    display: none;
} 

/* Responsive Data-List */
.webks-responsive-table dt,
.webks-responsive-table dd{
	display:inline-block; /* instead use floats */
	width:50%;
	margin:0 0 1px 0;
	padding:5px 1%;
}
.webks-responsive-table dt{ 
	width:50%; 
	vertical-align:top;
}

.table thead>tr>th {
    vertical-align: top;
}