<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MIX KEY</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ STATIC_URL }}libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css">
    
    
    <script src="{{ STATIC_URL }}libs/jquery-1.10.2.min.js"></script>
    <script src="{{ STATIC_URL }}libs/bootstrap/js/bootstrap.min.js"></script>
    
    {% block js %}{% endblock %}
    
  </head>
  <body>
    

    
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">TELEMETRY STATION</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'home' %}">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">All Projects <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">All projects</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Select Project</li>
                <li><a href="#">Sri Lanka</a></li>
                <li><a href="#">Mae Tang</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    
    <div class="container">
      
      <div class="hero-unit">
        <h1>All Projects</h1>
        <!--
        <p>Data hub for store multiple projects from Mix Key</p>
        <p>
          <a class="btn btn-primary btn-large" href="#about">
            Learn more
          </a>
        </p>
        -->
        
      </div>
      
      <div class="main-content">
      {% block content %}{% endblock %}
      </div>
    </div>
    
  </body>
</html>