<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TELEMETRY STATION</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ STATIC_URL }}libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css">
    
    
    <script src="{{ STATIC_URL }}libs/jquery-1.10.2.min.js"></script>
    <script src="{{ STATIC_URL }}libs/bootstrap/js/bootstrap.min.js"></script>
    
    {% block js %}{% endblock %}
    
  </head>
  <body>
    

    
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          {% if project_selected  %}
          <a class="navbar-brand" href="{% url 'project_overview' project_selected.code.lower %}">TELEMETRY STATION</a>
          {% else %}
          <a class="navbar-brand" href="{% url 'home' %}">TELEMETRY STATION</a>
          {% endif %}
          
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active">
              
              {% if project_selected  %}
              <a href="{% url 'project_overview' project_selected.code.lower %}">Home</a>
              {% else %}
              <a href="{% url 'home' %}">Home</a>
              {% endif %}
              
            </li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              
              {% if project_selected  %}
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ project_selected.get_name }} <b class="caret"></b></a>
              {% else %}
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">All projects <b class="caret"></b></a>
              {% endif %}
              
              <ul class="dropdown-menu select-project">

                <li><a href="{% url 'home' %}all/">All projects</a></li>                
                <li class="divider"></li>
                <li class="dropdown-header">Select Project</li>
                                
                {% for project in global_project_list %}
                <li{% if project == project_selected %} class="active"{% endif %}>
                  <a href="{% url 'project_overview' project.code.lower %}">{{ project.get_name }}</a>
                </li>
                {% endfor %}
              
              </ul>
            </li>
            
            <!--
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">SI Units <b class="caret"></b></a>
              <ul class="dropdown-menu select-unit">
                <li class="dropdown-header">Select Measurement Unit</li>
                <li><a href="#">SI Units</a></li>
                <li><a href="#">Imperial Units</a></li>
              </ul>
            </li>
            -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    
    <div class="container">
      
      <div class="main-content">
      {% block content %}{% endblock %}
      </div>
    </div>
    
  </body>
</html>