{% extends 'base.html' %}

{% block content %}

<table class="table table-striped">
  <thead>
    <tr>
      <th> </th>
      <th>Project</th>
      <th>Sensor</th>
      <th>Water Level</th>
      <th>Date Time</th>
    </tr>
  </thead>
  <tbody>
    {% for data in data_list %}  
    <tr>
      <td> </td>
      <td><a href="#">{{ data.sensor.project.get_name }}</a></td>
      <td><a href="#">{{ data.sensor.get_name }}</a></td>
      <td>{{ data.get_water_level }}</td>
      <td>{{ data.created|date:"Y-m-d H:i:s" }}</td>
    </tr>
    {% endfor %}
    
  </tbody>
</table>
{% endblock %}