{% extends 'base.html' %}

{% load domain_tags %}

{% block js %}

{% if project_selected %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load('visualization', '1', {packages: ['corechart']});
</script>
<script type="text/javascript">


function drawVisualization(elm, data, title) {
  // Some raw data (not necessarily accurate)
  /*
  var data = google.visualization.arrayToDataTable([
    ['Month', 'Bolivia', 'Ecuador', 'Madagascar', 'Papua New Guinea', 'Rwanda', 'Average'],
    ['2004/05',  165,      938,         522,             998,           450,      614.6],
    ['2005/06',  135,      1120,        599,             1268,          288,      682],
    ['2006/07',  157,      1167,        587,             807,           397,      623],
    ['2007/08',  139,      1110,        615,             968,           215,      609.4],
    ['2008/09',  136,      691,         629,             1026,          366,      569.6]
  ]);
  */
  var minValue = data[1]
  var data = google.visualization.arrayToDataTable(data);

  var options = {
    title : title,
    vAxis: {title: "Water Level (cm.)", minValue: null},
    hAxis: {title: "Date"},
    seriesType: "line",
    series: {0: {type: "area"}}
  };

  var chart = new google.visualization.ComboChart(document.getElementById(elm));
  chart.draw(data, options);
}


var data_summary_list = [];

{% for project, sensor_list in project_list %}
{% for sensor, data in sensor_list  %}
    
data_summary = {{ sensor.data_summary|jsonify|safe }};
data_summary_list.push(data_summary);

google.setOnLoadCallback(function () {
  drawVisualization('sensor-chart-{{ sensor.id }}', data_summary, '{{ sensor.get_name }}')
});

{% endfor %}
{% endfor %}




</script>
{% endif %}


{% if sensor_selected %}

<style>
  #map-canvas {
    height: 400px;
    width: 100%;
    margin: 20px 0 60px;
  }
</style>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script>

function initialize() {
  var myLatlng = new google.maps.LatLng({{ sensor_selected.lat }}, {{ sensor_selected.lng }});
  var mapOptions = {
    zoom: 9,
    center: myLatlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  
  var is_touch_device = 'ontouchstart' in document.documentElement;
  
  if (is_touch_device) {
    mapOptions.draggable = false;
    mapOptions.mapTypeControl = false;
    mapOptions.panControl = false;
    mapOptions.disableDefaultUI = true;
  }
  
  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
  
  pinColorDict = {
    'RED': 'd9534f',
    'YELLOW': 'f0ad4e',
    'GREEN': '5cb85c'
  };
  
  var pinColor = pinColorDict['{{ sensor_selected.get_category }}'];
  var pinImage = new google.maps.MarkerImage(
    "http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + pinColor,
    new google.maps.Size(21, 34),
    new google.maps.Point(0,0),
    new google.maps.Point(10, 34)
  );
  
  var pinShadow = new google.maps.MarkerImage(
    "http://chart.apis.google.com/chart?chst=d_map_pin_shadow",
    new google.maps.Size(40, 37),
    new google.maps.Point(0, 0),
    new google.maps.Point(12, 35)
  );
            
  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      icon: pinImage,
      shadow: pinShadow,
      title: 'Location of Sensor - {{ sensor_selected.get_name }}'
  });
  
  
  
  marker.addListener('click', function () {
    var ll = map.getCenter().toUrlValue();
    var z  = map.getZoom();
  
    window.open('http://maps.google.com/?q=loc:' + ll + '&z=' + z);
  });
  
}

google.maps.event.addDomListener(window, 'load', initialize);

</script>
{% endif %}
{% endblock %}

{% block content %}

<h1>
  {% if sensor_selected %}
  <a href="{% url 'project_overview' sensor_selected.project.code.lower %}">[{{ project_selected.get_name }}]</a> Sensor - {{ sensor_selected.get_name }}
  {% elif project_selected %}
  [{{ project_selected.get_name }}] Latest Update
  {% else %}
  All Projects
  {% endif %}
</h1>

{% if sensor_selected and sensor_selected.lat and sensor_selected.lng %}
<h2 class="project-title">Location</h2>
<div id="map-canvas"></div>
{% endif %}


{% for project, sensor_list in project_list %}
  
  {% if not project_selected %}
  <h2 class="project-title">{{ project.get_name }}<a class="label-active-project" href="{% url 'project_overview' project.code.lower %}">[Active to this project]</a></h2>
  {% endif %}
  
  {% if project.description %}
  <p>{{ project.description }}</p>
  {% endif %}
    
  {% for sensor, data in sensor_list  %}    
    
    <div class="panel panel-{{ data.get_category|category_to_class }} sensor-current">
      <div class="panel-heading">
        <h3 class="panel-title">
          {% if sensor_selected %}
          Sensor - {{ sensor.get_name }}
          {% else %}
          <a href="{% url 'sensor_overview' sensor.project.code.lower sensor.code.lower %}">Sensor - {{ sensor.get_name }}</a>
          {% endif %}
          <div class="label-category-code label label-{{ data.get_category|category_to_class }}">{{ data.get_category}} CODE</div>
        </h3>
      </div>
      <div class="panel-body">
        <div class="data-field data-primary-field">
          <h4 class="data-primary-field-label">Water Level MSL</h4>
          <div class="data-primary-field-value">{{ data.get_water_level }} cm.</div>          
        </div>
        <div class="data-field data-other-field">
          <table class="table table-striped">
            <thead>
              <tr>
                <th> </th>
                <th>Temperature (&#8451;)</th>
                <th>Humidity (%)</th>
                <th>Raingauge (mm.)</th>
                <th>Date Time</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> </td>
                <td>{{ data.temperature }}</td>
                <td>{{ data.humidity }}</td>
                <td>{{ data.raingauge }}</td>
                <td>{{ data.get_local_created|date:"Y-m-d H:i:s" }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        
      </div>
    </div>
          
          
  {% endfor %}
{% endfor %}

{% if project_selected %}
<div class="realtime-pannel panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h4>Graph</h4></div>
  <div class="panel-body box-underline">
    <p>This graph process by water level average of days or weeks or months.</p>
  </div>
  
  {% for project, sensor_list in project_list %}
  {% for sensor, data in sensor_list  %}
    
  <div id="sensor-chart-{{ sensor.id}}" style="height: 500px;">
    GRAPH HERE
  </div>

  {% endfor %}
  {% endfor %}
</div>
{% endif %}



<div class="realtime-pannel panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h4>Real-time Data</h4></div>
  {% if not sensor_selected %}
  <div class="panel-body">
    <p>This raw data received from sensors name are Mixkey, received every minutes in each sensors and order by newest first.</p>
  </div>
  {% endif %}
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th> </th>
        {% if not project_selected %}
        <th>Project</th>
        {% endif %}
        {% if not sensor_selected %}
        <th>Sensor</th>
        {% endif %}
        <th>Water Level MSL (cm.)</th>
        <th>Temperature (&#8451;)</th>
        <th>Humidity (%)</th>
        <th>Raingauge (mm.)</th>
        <th>Date Time</th>
        <th>Code</th>
      </tr>
    </thead>
    <tbody>
      {% for data in data_list %}  
      <tr>
        <td> </td>
        {% if not project_selected %}
        <td><a href="{% url 'project_overview' data.sensor.project.code.lower %}">{{ data.sensor.project.get_name }}</a></td>
        {% endif %}
        {% if not sensor_selected %}
        <td><a href="{% url 'sensor_overview' data.sensor.project.code.lower data.sensor.code.lower %}">{{ data.sensor.get_name }}</a></td>
        {% endif %}
        <td>{{ data.get_water_level }}</td>
        <td>{{ data.temperature }}</td>
        <td>{{ data.humidity }}</td>
        <td>{{ data.raingauge }}</td>
        <td>{{ data.get_local_created|date:"Y-m-d H:i:s" }}</td>
        <th>
          <div class="label label-{{ data.get_category|category_to_class }}">
            {{ data.get_category}}
          </div>
        </th>
      </tr>
      {% endfor %}
    
    </tbody>
  </table>

</div>

{% endblock %}
